
# This token expires after 24 hours. You can get a new one from the your Meta App Dashboard > API Setup
# Or you can create an access token at the System User level from the Meta Business Settings: https://business.facebook.com/settings/system-users

ACCESS_TOKEN="EAAOEky8fgtMBO44yeLrx5anbOZBzF3ZAo08KffsluC85k2AZCrNUCqIGWR41VQjkPyaUzEOPReXLZBiv8ayNb7tWhC0cEVoal7ytLSSHZCdWIwe1uN72I2YZAkwgMhNPiuoIirad70CdPX9zAoJrkubHmgisdK3V4scLCacfYd5yZASThZCFVkFQfMbxLZBw8r7wsV41gkye1C7jC9Xz9JtgZD"

APP_ID=""
APP_SECRET=""
RECIPIENT_WAID="+34696126055" # Your WhatsApp number with country code (e.g., +31612345678)
VERSION="v18.0"
PHONE_NUMBER_ID="275063952355719"

VERIFY_TOKEN="275222535673335"

OPENAI_API_KEY="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"
OPENAI_ASSISTANT_ID="asst_uzQDvqI9uBS4QfUYnMAArJNe"
